body {
    font-family: Arial, sans-serif;
    display: inline-block;
    background-color:  #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    width: auto;
    
}
nav{
    background-color: black;
    color: cyan;
   text-align: center;
    padding-top: .0010px;
    width: 158%;
    height: 25px;
    
}    
h1{
    color: rgb(7, 250, 250);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.calculator {
    border: 8px solid #ccc;
    border-radius: 10px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-color: black;
    padding: 20px;
    margin-top: 120px;
    margin-left: 550px;
}

.display {
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 8px;
    width: 90%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    font-size: 20px;
    margin: 5px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
}

.button:hover {
    background-color: #e0e0e0;
}

.button:active {
    background-color: #d0d0d0;
}
